/* * {
  background-color: #CCBCBC;
} */
.app {
  margin-bottom: 2.5rem;
}
.nav {
  background-color: #2E294E !important;
}

.navLink {
  color: white !important;
}

.navLinkMenuIcon {
  color: white !important;
  background-color: white !important;
}

.navLink:hover {
  color: rgb(167, 164, 164) !important;
}